.countdownContainer {
  display: flex;
  align-items: center;
  font-family: Rajdhani;
  font-weight: 600;
  color: var(--title);
}

.countdownContainer > div {
  flex: 1;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  background: var(--primary);
  box-sizing: 0 0 60px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  font-size: 8.5rem;
  text-align: center;
}

.countdownContainer > div span {
  flex: 1;
}

.countdownContainer > div span:first-child {
  border-right: 1px solid var(--background);
}

.countdownContainer > div span:last-child {
  border-left: 1px solid var(--background);
}

.countdownContainer > span {
  font-size: 6.25rem;
  margin: 0 0.5rem;
}

.countdownButton {
  width: 100%;
  height: 5rem;

  margin-top: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 0;
  border-radius: 5px;

  background: var(--blue);
  color: #fff;

  font-size: 1.25rem;
  font-weight: 600;

  position: relative;

  transition: background-color 0.2s;
}

.countdownButton img {
  max-width: 1rem;
  margin-left: 1rem;
  /* fill: var(--primary); */
}

.countdownButtonBar span {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 10%;
  background-color: var(--green);
  /* border: .2rem solid black; */
}

.countdownButton img.redIcon {
  -webkit-filter: invert(52%) sepia(62%) saturate(6839%) hue-rotate(328deg)
    brightness(95%) contrast(91%);
  filter: invert(52%) sepia(62%) saturate(6839%) hue-rotate(328deg)
    brightness(95%) contrast(91%);
}

.countdownButton img.greenIcon {
  -webkit-filter: invert(53%) sepia(92%) saturate(422%) hue-rotate(63deg)
    brightness(109%) contrast(91%);
  filter: invert(53%) sepia(92%) saturate(422%) hue-rotate(63deg)
    brightness(109%) contrast(91%);
}

.countdownButton:not(:disabled):hover {
  background: var(--blue-dark);
}

.countdownButtonActive {
  background: var(--primary);
  color: var(--title);
}

.countdownButtonActive:not(:disabled):hover {
  background: var(--red);
  color: var(--primary);
}

.countdownButton:disabled {
  background: var(--primary);
  color: var(--text);
  cursor: not-allowed;
}
